/*                      Classes                    */
/*  Bb  */
.bilImg{
  margin: auto 0.5rem;
}
.brdr{
  border-bottom: 1px solid #63615f;
}
.btn{
  color:#323232;
  background-color: #b0ceff;
}
.frstPost{
  background-color: #fff;
}
/*  Dd   */
.dropdown-menu{
  height:7.6rem;
}
.dropT{
  margin-top: 5%;
  margin-bottom: 1rem;
}
/*   Ff  */
.firstSlide{
  padding-top:5rem;
}
.firstSlideT{
  padding-top:2rem;
}

.foot{
  height: 9rem;
}

.frstPage{
  margin-top: 5%;
  padding-top: 7%;
  height: 30rem;
}

/*  Ii  */

.infoPost{
  height: 20rem;
}


/*  Kk  */
.katevImg{
  width: 7rem;
}

.katevIMg{
  width: 7rem;
  float: left;
  padding-top: 1rem;
}

/*  Ll  */
.loremFooter{
  line-height: 1.3rem;
  padding-top: 2.5rem;
}

/*  Oo  */
.overflowDiv{
  overflow:auto;
}

/*  Nn  */
.name{
  float: right;
}

.navbar{
  position: absolute;
}

.nav{
  position:fixed;
}

.navS{
  margin-bottom: 5rem;
}

/*  Ss  */
.sheduleImg{
  width:90%;
}
.scrollSpy{
  float: left;
}


/*  Tt  */
.teachDiv{
  overflow: auto;
  height: 34rem;
}

/*                             Selectors                            */

hr{
  border-top: 1px solid black;
}
h4{
  margin:1rem;
}
iframe{
  margin-top:5%;
  width: 95rem;
  height:70rem;
}


/*                              ID                                  */


#footer{
  width:30rem;
  height: 8rem;
  text-align: center;
  margin:auto;
}


/*                           Media                                   */


@media (max-width: 768px) {
  .navs{
    margin-left: 2rem;
  }
}
@media (max-width: 1300px) {
  .dropT{
    margin-top: 7%;
  }
}
@media (max-width: 870px) {
  .dropT{
    margin-top: 9%;
  }
}
@media (max-width: 668px) {
  .dropT{
    margin-top: 13%;
  }
}
